<html>
<body>
<div>Список Студентов</div>
<form method="post">
    <input type="text" name="surname">
    <button type="submit">Найти</button>
</form>
{{#users}}
<div>
    <b>{{id}}</b>
    <b>{{name}}</b>
    <b>{{surname}}</b>
    <b>{{lastname}}</b>
</div>
{{/users}}
</body>
</html>